/* Fondo de la aplicación */
body {
  background-image: url('/FondoTiempo.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  background: linear-gradient(90deg, #ffeb3b, #ff5722, #4caf50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 20px;
  opacity: 0;  /* Inicialmente invisible */
  animation: fadeIn 2s ease-in forwards;  /* Animación de 2 segundos */
}

/* Definir la animación */
@keyframes fadeIn {
  0% {
    opacity: 0;  /* Comienza invisible */
    transform: translateY(-20px);  /* Leve desplazamiento hacia arriba */
  }
  100% {
    opacity: 1;  /* Finaliza completamente visible */
    transform: translateY(0);  /* Desplazamiento final */
  }
}


/* Estilo para el texto de búsqueda "Find Countries:" */
.search-label {
  font-weight: bold;     /* Negrita */
  font-size: 1.5rem;     /* Tamaño más grande */
  margin-right: 10px;    /* Espacio entre el texto y el input */
  color: #5a0404;           /* Color blanco para que destaque */
}


/* Mantener el label y el input centrados */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar elementos hijos horizontalmente */
}

input[type="text"] {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

input[type="text"]:hover, input[type="text"]:focus {
  border-color: #4CAF50;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Estilo para las notificaciones */
.notification {
  font-weight: bold;    /* Negrita */
  font-size: 1.5rem;    /* Tamaño más grande */
  color: #5a0404;       /* Color amarillo para destacar */
  margin: 20px 0;       /* Espacio arriba y abajo */
  text-align: center;   /* Centrar el texto */
}



button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #45a049;
}

/* Estilo para los contenedores de los países */
.country-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.country-container img {
  width: 150px;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}

h4 {
  color: #fff;
}

.weather-container {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.weather-container img {
  width: 100px;
  height: auto;
}

/* Contenedor del botón de información */
.info-container {
  display: flex;
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center;
  margin-bottom: 20px;
}

/* Botón de información */
.info-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.info-button:hover {
  background-color: #45a049;
}

/* Contenedor del texto informativo */
.info-text {
  font-size: 0.9rem; /* Cambia este valor para ajustar el tamaño de la fuente */
  line-height: 1.5; /* Opcional: mejora la legibilidad del texto */
  color: #333; /* Color del texto */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left; /* Alineación del texto */
}

/* Botón de cerrar el texto de información */
.close-button {
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px; /* Reducir el tamaño */
  font-size: 0.9rem; /* Hacer la fuente más pequeña */
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #e64a19;
}

/* Contenedor para cada país */
.country-item {
  display: flex;            /* Para alinear el nombre del país y el botón horizontalmente */
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  padding: 10px;
  margin: 10px 0;           /* Espacio entre cada país */
  border-radius: 5px;       /* Bordes redondeados */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de elevación */
}

/* Estilo para el nombre del país */
.country-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-right: 20px;       /* Espacio a la derecha del nombre */
}

/* Botón "Ver" */
.country-button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave al pasar el ratón por encima */
}

.country-button:hover {
  background-color: #45a049; /* Cambia el color del botón cuando el ratón pasa por encima */
}


